.featured_wrapper {
  margin: 0 auto;
  width: 1280px;
  margin-top: 90px;
  height: 800px;
  overflow: hidden;
}

.featured_stripes {
  position: relative;
  .stripe {
    width: 230px;
    height: 1200px;
    position: absolute;
  }
}
.featured_text {
  position: relative;
  font-family: 'Righteous', cursive;
}

.featured_number {
  font-size: 270px;
  color: #fff;
  transform: translate(260px, 170px);
  position: absolute;
}

.featured_player {
  width: 500px;
  height: 500px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  position: absolute;
}
.featured_first {
  position: absolute;
  background: #0e1731;
  color: #fff;
  font-size: 92px;
  text-transform: uppercase;
  padding: 0px 20px;
}

.featured_second {
  position: absolute;
  background: #0e1731;
  color: #fff;
  font-size: 92px;
  text-transform: uppercase;
  padding: 0px 20px;
}
