.home_matches_wrapper {
  background: #98c5e9;
  margin-top: 9px;
  padding: 50px 0px;
  min-height: 800px;
  .home_matches {
    flex-wrap: wrap;
    display: flex;
    margin-top: 60px;
    .item {
      width: 50%;
      margin: 35px 0px;
      .wrapper {
        padding-right: 30px;
      }
    }
  }
}
