.the_team_container {
  margin-top: 96px;
  padding: 20px;
  background-size: 5px 5px !important;
  min-height: 100vh;
  background: #ffffff url('../images/stripes.png');
}

.team_category_wrapper .title {
  font-size: 90px;
  margin: 30px 0px;
  font-family: 'Righteous', cursive;
  color: #d5ebfe;
}
.team_category_wrapper {
  min-height: 600px;
}
.team_category_wrapper .team_cards {
  display: flex;
  flex-wrap: wrap;
}
.team_category_wrapper .team_cards .item {
  margin-right: 20px;
  margin-bottom: 20px;
}
