.signin_wrapper {
  margin-top: 96px;
  padding: 20px;
  min-height: 70vh;
  text-align: center;
  form {
    width: 350px;
    margin: 0 auto;
    button {
      width: 100%;
      padding: 10px;
    }
  }
  h2 {
    font-family: 'Righteous', cursive;
    color: #98c6e9;
    font-size: 50px;
  }
  .user_dashboard {
    font-size: 60px;
    font-family: 'Righteous', cursive;
    color: #d5ebfe;
    text-align: center;
    margin-top: 200px;
  }
}

.progress {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
